<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %> 

<div class="row">
  <div class="container">
	<div class="col-md-6">
					<div class="form-group">
						<%= f.label :Nafn %>
						<%= f.text_field :name, class: 'form-control' %>
						<%#= @profile.name %>
					</div>

					<!--<div class="form-group">
						<%#= f.label :Merki %>
						<%#= f.file_field :avatar, class: 'form-control' %>
					</div>-->

					<div class="form-group">
						<%= f.label :stöðugildi %>
						<%= f.number_field :staff, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :Stærð_Bygginga %>
						<%= f.number_field :building_size, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :Heimilsfang %>
						<%= f.text_field :address, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :Póstnúmer %>
						<%= f.text_field :postalcode, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :Vefsíða%>
						<%= f.text_field :website, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :Tengiliður %>
						<%= f.text_field :contact_person, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :Tengiliður_Tölvupóstur %>
						<%= f.email_field :contact_email, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :Símanúmer %>
						<%= f.text_field :phone_number, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :Tegund_starfsemi %>
						<%= f.select :buisness_type_light,['Þjónusta', 'Ráðgjöf', 'Verlsun', 'Stofnun', 'Annað'], class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :Lýsing_á_starfssemi %>
						<%= f.text_area :description, class: 'form-control' %>
					
		</div>	
		
		<div class="col-md-6">
		<%= f.label :Leyfisskylur_Iðnaður? %>
			<%= f.check_box :need_permit,{}, "Yes", "No"%>
			<div id="card_details" style="display:none;">
			<div class="form-group">
		    <%= f.label :Starfsemi %>				
			 <%= f.select(:buisness_type, grouped_options_for_select(Profile::BUISNESS_TYPES),{ :class => 'form-control' })%>
			 </div>
			 <div class="form-group">
		    <%= f.label :Utgefandi_starfsleyfis %> 
		    <%= f.text_field :permit_publisher, class: 'form-control' %>
		    </div>

		    <div class="form-group">
		    <%= f.label :Eftirlitsaðili_starfsleyfis %> 
		    <%= f.text_field :permit_monitor, class: 'form-control' %>
		    </div>

		    <div class="form-group">
		    <%= f.label :Gildistími_starfsleyfis %> til: 
		    <%= f.date_field :permit_duration, class: 'form-control' %>
		    </div>
		  
		  	 <div class="form-group">
		    <%= f.label :Stjórn_fyrirtækis %> 
		    <%= f.text_area :board_member, class: 'form-control' %>
		    </div>
		    </div>

		  	
		</div>	
		</div>
					<div class="form-group">
						<%= f.submit "Uppfæra Skráningu", class: 'btn btn-primary' %>
					</div>	
	</div>
</div>
				<% end %>


				<script type="text/javascript">
  var checkbox = document.getElementById('profile_need_permit');
  var details_div = document.getElementById('card_details');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script>