<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %> 

<div class="row">
  <div class="container">
	<div class="col-md-6">
					<div class="form-group">
						<%= f.label :name %>
						<%= f.text_field :name, class: 'form-control' %>
					</div>

					<div class="form-group">
						<%= f.label :avatar %>
						<%= f.file_field :avatar, class: 'form-control' %>
					</div>

					<div class="form-group">
						<%= f.label :staff %>
						<%= f.number_field :staff, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :building_size %>
						<%= f.number_field :building_size, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :address %>
						<%= f.text_field :address, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :postalcode %>
						<%= f.text_field :postalcode, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :website%>
						<%= f.text_field :website, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :contact_person %>
						<%= f.text_field :contact_person, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :contact_email %>
						<%= f.email_field :contact_email, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :phone_number %>
						<%= f.text_field :phone_number, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :buisness_type %>
						<%= f.select :buisness_type,['Þjónusta', 'Ráðgjöf', 'Verlsun', 'Stofnun', 'Annað'], class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :description %>
						<%= f.text_area :description, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.submit "Update Profile", class: 'btn btn-primary' %>
					</div>
		</div>	
		
		<div class="col-md-6">
		<%= f.label :need_permit? %>
			<%= f.check_box :need_permit,{}, "Yes", "No"%>
			<div id="card_details" style="display:none;">
			<div class="form-group">
    <%= f.label :Starfsemi %>				
	 <%= f.select(:buisness_type, options_for_select(Profile::BUISNESS_TYPES),{ :class => 'form-control' })%>
	 </div>
	 <div class="form-group">
    <%= f.label :permit_publisher %> 
    <%= f.text_field :permit_publisher, class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.label :permit_monitor %> 
    <%= f.text_field :permit_monitor, class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.label :permit_duration %> 
    <%= f.date_field :permit_duration, class: 'form-control' %>
    </div>
  </div>


		</div>		
	</div>
</div>
				<% end %>


				<script type="text/javascript">
  var checkbox = document.getElementById('profile_need_permit');
  var details_div = document.getElementById('card_details');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script>