<div class="row">

	<div class="col-md-6 col-md-offset-3">
		<div class="well">
			<%= form_for @transport, html: {class: 'form-horizontal'} do |f| %>

			<div class="control-group">	
				<%= f.label :date, class: 'control-label' %><br>
				<div class="controls">
					<%= f.date_select :date %>
				</div>
			</div>	

		<div class="control-group">	
			<%= f.label :transport_type, class: 'control-label' %><br>
			<div class="controls">
				<%= f.select(:transport_type, options_for_select([['Leigubílar', 'Leigubílar'], ['Eigin bíll/bílar stofnunar', 'Eigin bíll/bílar stofnunar'], ['Rekstrarleigubílar', 'Rekstrarleigubílar'], ['Bílaleigubílar', 'Bílaleigubílar'], ['Flutningabílar', 'Flutningabílar'], ['Akstur starfsmanna (til og frá vinnu)', 'Akstur starfsmanna (til og frá vinnu)'], ['Annað', 'Annað']])) %>
          	</div>
		</div>	

		<div class="control-group">	
			<%= f.label :transport_km, class: 'control-label' %><br>
				<div class="controls">
					<%= f.number_field :transport_km %>
				</div>
		</div>	

		<div class="control-group">	
			<%= f.label :transport_num_of_trips, class: 'control-label' %><br>
				<div class="controls">
					<%= f.number_field :transport_num_of_trips %>
				</div>
		</div>	

		<div class="control-group">	
			<%= f.label :transport_km_recycled_fuel, class: 'control-label' %><br>
				<div class="controls">
					<%= f.number_field :transport_km_recycled_fuel %>
				</div>
		</div>	


	<!--<div class="control-group">	
			<%#= f.label :transport_co2, class: 'control-label' %><br>
				<div class="controls">
					<%#= f.number_field :transport_co2 %>
				</div>
		</div>	-->


<!--- hér þarf að laga lookið á flug dálkununm -->
			<div class="well">
				<div class="control-group">	
					<%= f.label :transport_flight_type, class: 'control-label' %><br>
						<div class="controls">
							<%= f.select(:transport_flight_type, options_for_select([['Innanlandsflug', 'Innanlandsflug'], ['Millilandaflug', 'Millilandaflug']])) %>
		         		 </div>
				</div>	

				<div class="control-group">	
					<%= f.label :transport_flight_km, class: 'control-label' %><br>
						<div class="controls">
							<%= f.number_field :transport_flight_km %>
						</div>
				</div>	

				<!--<div class="control-group">	
				<%#= f.label :transport_flight_co2, class: 'control-label' %><br>
					<div class="controls">
						<%#= f.number_field :transport_flight_co2 %>
					</div>
				</div>	-->
			</div>





		<div class="control-group">
	    	<div class="controls">
	      <%= f.submit class: 'btn btn-xs btn-warning' %>
	    	</div>  
	  	</div>

	
<% end %>	
	
		<%= link_to 'Back', transports_path %>

	</div>


</div>
