<div class="row">

	

	
	<%= render 'users/shared/paper_compare' %>
	

	<%= render 'users/shared/electro_compare' %>	 

	<%= render 'users/shared/hwater_compare' %>	 

	<%= render 'users/shared/cleaning_compare'	%>

	<%= render 'users/shared/travel_compare'	%>
	
		
	
	
 
</div> 