<div class="row">
dfgdfgfd
	<div class="col-md-8 col-md-offset-2">
		<ul class="list-unstyled">
		<% @users.each do |user| %>
		
			<% if user.profile %>
			<li>
				<div class="well row <%= cycle("white-bg", '') %>">
					
					<div>
						<%= link_to user do %>
						<h2><%= user.profile.name %></h2>
						<%= link_to "Gerast vinur", friendships_path(:friend_id => user), :method => :post %>
						<% end %>
						<p><%= user.profile.description %></p>
					</div>
				</div>	
			</li>
		<% end %>
		<% end %>
		</ul>
	</div>
</div>