
<div class="row ">
  <div class="container">
    <div class="col-md-12 well ">
        <div class="col-md-6">
        <p><small>Síðast Innskráð: <%=current_user.last_sign_in_at %></small></p>
        <% if current_user.profile %>
          <p>Fyrirtæki: <%=current_user.profile.name %></p>
          <p>Fjöldi stöðugilda: <%=current_user.profile.staff %></p>
          <%= link_to "Uppfæra skráningu", edit_user_profile_path(current_user) %>
             <%= link_to "Skoða skráningu", users_path(current_user)%>
            <%#= link_to "Skoða vini", users_path(current_user)%>        
    
       </div>  
       <div class="col-md-6">
<h4> <%= current_user.profile.name%> Friends</h4>
             <ul>
               <% for friendship in @user.friendships %>
               <li>
                  <%= friendship.friend.profile.name %>
                  (<%= link_to "remove", friendship, :method => :delete %>)
               </li>
              <% end %>
             </ul> 

             <p> <%= link_to "Finna vini", users_path %> </p>

             
              <h3> þeir sem elta <%= current_user.profile.name%> </h3>
             <ul>
              <%  @user.inverse_friends.each do |user| %>
              <%= link_to user_profile_path(user), :method => :get do %>
                <li><%= user.profile.name %></li>
              <% end%>
              <% end %>
              </ul>
              

    </div>
<div>
        <% else %>
          <p>Create your profile so that you can share your info and follow other users. </p>
            <%= link_to " Create your profile", new_user_profile_path(current_user), class: 'btn-primary btn-lg btn-block' %>
          <% end %>
         </div>
      

</div>   



	<%= render 'users/shared/user_total' %>

	<%= render 'users/shared/paper_compare' %>
	

	<%= render 'users/shared/electro_compare' %>	 

	<%= render 'users/shared/hwater_compare' %>	 

	<%= render 'users/shared/cleaning_compare'	%>

	<%= render 'users/shared/travel_compare'	%>
		
	
	
 
</div> 

				
						
<!-- Á þessa síðu vantar IF statements, sem ákvarða hvað aðrir sjá m.v. hvaða áskriftarleið þeir eru með -->

<!-- hér væri hægt að sýna heildar tölur f. hvern user -->