
<div class="row ">
<div class="container"> 
    <div class="col-md-12 col-md-offset-1">
        <div class="col-md-3 user-box-top">
        <p><small>Síðast Innskráð: <%=current_user.last_sign_in_at %></small></p>
        <% if current_user.profile %>
          <p>Fyrirtæki: <%=current_user.profile.name %></p>
          <p>Fjöldi stöðugilda: <%=current_user.profile.staff %></p>
          <p>Fyrirtæki: <%=current_user.profile.buisness_type %></p>
          <%= link_to "Uppfæra skráningu", edit_user_profile_path(current_user) %>
             <%= link_to "Skoða skráningu", users_path(current_user)%>
                  <% end %> 
    
       </div>  

<div class="col-md-8">
       <% if current_user.profile.need_permit == "Yes" %>

        <%= render 'pages/partials/new_addon_part' %>

 <% end %>
 </div>
     
        
         </div>
      
</div>
</div>  

<!--Mælaborð -->
<hr>
<div class="container">
<%= render 'users/shared/dashboard_part' %>
</div>
<!-- Mælaborð ends -->


<hr>
<div class="container">

<div class="row">

<div class="col-md-12">
  <ul role="tablist" id="category_tabs" class="nav nav-tabs">

    <li role="presentation" class="active"> 
      <%= link_to "Pappír", "#pappir_tab", :remote => true, 'data-toggle' => 'tab', 'data-target' => '#pappir', id: "pappir_tab"  %>
    </li>

    <li  role="presentation" >
     <%= link_to "Rafmagn", "#electro_tab", :remote => true, 'data-toggle' => 'tab', 'data-target' => '#electro', id: "electro_tab"  %>

     </li>

    <li role="presentation" >
      <%= link_to "Vatn", "#hwater_tab", :remote => true, 'data-toggle' => 'tab', 'data-target' => '#hwater', id: "hwater_tab"  %>
    </li>

     <li role="presentation" >
      <%= link_to "Ræsting", "#cleaning_tab", :remote => true, 'data-toggle' => 'tab', 'data-target' => '#cleaning', id: "cleaning_tab"  %>
    </li>

    <li role="presentation" >
      <%= link_to "Bílferðir", "#travel_tab", :remote => true, 'data-toggle' => 'tab', 'data-target' => '#travel', id: "travel_tab"  %>
    </li>

  </ul>
 
 


<div class="tab-content categories">
    <div  role="tabpanel" class="tab-pane fade in active" id="pappir">
        <div class="pappir">

      <%= render 'pages/partials/paper_part' %>
        </div>
    </div>
 

  
    <div  role="tabpanel" class="tab-pane fade" id="electro">
      <div class="electro">

      <%= render 'pages/partials/electro_part' %>
      </div>
    </div>

     <div  role="tabpanel" class="tab-pane fade" id="hwater">
      <div class="hwater">
      <%= render 'pages/partials/hwater_part' %>
      </div>
    </div>

     <div  role="tabpanel" class="tab-pane fade" id="cleaning">
      <div class="cleaning">
      <%= render 'pages/partials/cleaning_part' %>
      </div>
    </div>

    <div  role="tabpanel" class="tab-pane fade" id="travel">
      <div class="travel">
      <%= render 'pages/partials/travel_part' %>
      </div>
    </div>
 
 </div> <!-- column ends -->
        </div> <!--Row ends -->





	
 

						
<!-- Á þessa síðu vantar IF statements, sem ákvarða hvað aðrir sjá m.v. hvaða áskriftarleið þeir eru með -->

<!-- hér væri hægt að sýna heildar tölur f. hvern user -->