<div class="row">
	<div class="col-md-3 text-center">
		<%= image_tag @user.profile.avatar.url %>
	</div>

	
	<div class="col-md-9 col-md-offset-3">	
		<h1><%= @user.profile.name %></h1></br>
	</div>	
</div>			
<div class="row">		
		<div class="well profile-description">
			<%= @user.profile.address %></br>
			<%= @user.profile.postalcode %></br>
			<span class="webpage-title-icon"><%= webpage_title_helper%></span><%= @user.profile.website %></br>
			<%= @user.profile.contact_person %></br>
			<%= @user.profile.contact_email %></br>
			<%= @user.profile.phone_number %></br>
			<%= @user.profile.buisness_type %></br>
			<h3>Description:</h3>
			<%= @user.profile.description %></br> 
			<%= @user.profile.staff %> 
		</div>
	</div>	
</div>
<!-- Á þessa síðu vantar IF statements, sem ákvarða hvað aðrir sjá m.v. hvaða áskriftarleið þeir eru með -->

<!-- hér væri hægt að sýna heildar tölur f. hvern user -->