<div class="row">
		
	<% if user_signed_in? %>
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title"> <%= current_user.profile.name %> Helstu tölur yfir auðlindanotkun</h3>
  			</div>
 			 <div class="panel-body">
			
			<div class="panel panel-default">
  				<div class="panel-heading">
    				<h3 class="panel-title"><%= current_user.profile.name %> Pappírs notkun</h3>
  				</div>
 			 <div class="panel-body">
				<div class="row">
					<!-- Magn pappírs yfir allan rekstur-->
					<div class=" col-md-3">
  						<div class="panel panel-info">
  							<div class="panel-heading">
   							 <h3 class="panel-title">Pappírs magn fyrir hvert stöðugildi</h3>
  							</div>
  								<div class="panel-body text-center">
    								<%= @paper_weight_per_capita %> -Kg.
  								</div>
						</div>
					</div>	
					<!-- Fjöldi trjáa sem er fórnað f. pappírinn -->
  					<div class=" col-md-3">
	  					<div class="panel panel-info">
	  						<div class="panel-heading">
	   							 <h3 class="panel-title">Fjöldi tjráa mv. Pappírsnotkun.</h3>
	  						</div>
	  							<div class="panel-body">
	    							<%= @paper_tree_ratio.to_f * 15 %> - Tré.
	  							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>		
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title"><%= current_user.profile.name %> Rafmagns notkun</h3>
  			</div>
 			 <div class="panel-body">
			
				<div class="row">		
					<!-- KWst rafmagn/ mv.stöðug.  -->
					<div class=" col-md-3">
	  					<div class="panel panel-info">
	  						<div class="panel-heading">
	   							 <h3 class="panel-title">KWst á hvert stöðugildi</h3>
	  						</div>
	  							<div class="panel-body">
	    							<%= @electro_total_per_capita %>
	  							</div>
						</div>
					</div>	

					<!-- KWst rafmagn/ mv.stöðug.  -->
					<div class=" col-md-3">
	  					<div class="panel panel-info">
	  						<div class="panel-heading">
	   							 <h3 class="panel-title">KWst mv. hvern m&sup2;</h3>
	  						</div>
	  							<div class="panel-body">
	    							<%= number_with_precision(@electro_total_per_m2.to_f, precision: 2)%> ,-kwst/m&sup2;
	  							</div>
						</div>
					</div>	
         		</div>	
    		</div>  		 
		</div>

		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title"><%= current_user.profile.name %> Heit Vatn Notkun</h3>
  			</div>
 			 <div class="panel-body">
			
				<div class="row">		
					<!-- Heitt vatn mv. stöðugildi  -->
					<div class=" col-md-3">
	  					<div class="panel panel-info">
	  						<div class="panel-heading">
	   							 <h3 class="panel-title">m&#179; á hvert stöðugildi</h3>
	  						</div>
	  							<div class="panel-body">
	    							<%= @hwater_total_m3_per_capita %> m&#179; 
	  							</div>
						</div>
					</div>	

					<!-- m3 heitt vatn / m2 byggingu.  -->
					<div class=" col-md-3">
	  					<div class="panel panel-info">
	  						<div class="panel-heading">
	   							 <h3 class="panel-title">m&#179; heitt vatn fyrir hvern m&sup2; húsnæðis.</h3>
	  						</div>
	  							<div class="panel-body">
	    							<%= number_with_precision(@hwater_m3_m2_ratio.to_f, precision: 2)%> m&#179;/m&sup2;
	  							</div>
						</div>
					</div>	
         		</div>	
    		</div>  		 
		</div>
	</div> <!-- Panel body end -->
</div>	<!-- Panel end -->

		<div class="row">
			<div class="container">
				<%= link_to "Pappír", papers_path, class: 'btn btn-primary' %>
				<%= link_to "Ræstiefni", cleanings_path, class: 'btn btn-primary' %>
				<%= link_to "Rafmagn", electros_path, class: 'btn btn-primary' %>
			</div>
		</div>

	<% else %>
		<div class="jumbotron">
			<div class="container">
  				<h1>Welcome to Spretta</h1>
         			 <p>Vettvagnur fyrir umhverfisstjórn fyrirtækja</p>

         		<%= link_to "Nýskrá", new_user_registration_path, class: 'btn btn-primary' %>
    		</div>     		 
		</div>
	<% end %>

	<div class="row">
		<div class="col-md-6">
			<%= link_to "Notendur", users_path, class: 'btn btn-primary' %>
		</div>
	</div>		

<%= render 'average_user_total' %>
<%= link_to "Create your profile", new_user_profile_path(current_user) if current_user %>


</div>