<div class="row">
		
	<% if user_signed_in? %>
<%= render 'user_total' %>

		

	<% else %>

		<div class="header alt vert">
  			<div class="container">
    
    		<h1>Spretta</h1>
     			 <p class="lead">umhverfisstjórn</p>
      		<div>&nbsp;</div>
      			<%= link_to "Nýskrá", new_user_registration_path, class: 'btn btn-default btn-lg' %>
  			</div>
		</div>
	
	<% end %>



<% unless user_signed_in? %>
<!-- Annar Hluti -->
<%= render 'section2' %>
	<hr>
<!-- Þriðji Hluti -->

<%= render 'section3' %>
		<hr>
<!-- Fimmti fluti -->

<%= render 'section5' %>

<hr>
	


<!-- Fjórði Hluti -->

<%= render 'section4' %>

<div class="blurb bright">
  
  <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>Endilega hafðu samband</h3>
        <br>
      </div>
  </div>
  
  <div class="row">
    <div class="container">
      <div class="col-md-8 col-md-offset-4">


      <form>
        Nafn:<br>
        <input type="text" name="firstname"><br>
        Eftirnafn:<br>
        <input type="text" name="lastname"><br>
        <br>
        Nafn Fyrirtækis/stofnunar:<br>
        <input type="text" name="firm_name"><br>
        Póstfang: <br>
        <input type="email" name="email"><br>
        <br>
        Skilaboð:<br>
        <textarea rows="6" cols="50"></textarea><br>
        <buttton class="btn btn-default btn-xs">Senda</buttton>


      </form>
    </div>
 	</div>
  </div>
</div>

<div class="blurb">
  <div class="container">

<%= link_to "Create your profile", new_user_profile_path(current_user) if current_user %>


</div>
<% end %>
</div>

