<!-- Magn pappírs yfir allan rekstur-->
		<div class="container">
					<div class="row well push-uppl-well">
						<div class="col-md-8 col-md-ofset-2 push-uppl">
							Flokkur síðast uppfærður:
							<%= current_user.papers.map(&:updated_at).last %>
						</div>
					</div>
				<div class="row col-md-6"> <!-- efsta röð -->

				<table class="table table-hover">
				  <thead class="thead-default">
					<tr>
						<th>Texti</th>
						<th>Eining</th>
					</tr>
				  </thead>	
				  <tbody>
					<!-- heildar pappírs þyngd -->
					<tr>
						<td>Heildar pappírs þyngd</td>
						<td><%= @paper_weight_total.to_i %> - Kg</td>
					</tr>
					<!-- Pappírs þyngd f. hvert stöðugildi -->
					<tr>
						<td>Pappírs magn fyrir hvert stöðugildi</td>
						<td><%= @paper_weight_per_capita %> - Kg</td>
					</tr>

					<tr>
						<td>Hlutfall umhverfisvæns pappírs</td>
						<td><%= number_with_precision(@env_paper_ratio, precision: 2).to_f%> - %</td>
					</tr>

					<!-- Fjöldi trjáa sem er fórnað f. pappírinn -->
					<tr>
						<td></td>
						<!-- tómur þessi, hahaha -->
						<td></td>
					</tr>
					<tr>
						<td>Fjöldi tjráa mv. Pappírsnotkun.</td>
						<td><%= @paper_tree_ratio.to_f %> - Tré</td>
					</tr>

					<tr>
						<td>Magn co2 sem notuð tré hefðu bundið</td>
						<td><%= number_with_precision(@paper_tree_co2_rescue, precision: 1).to_f  %> - Kg</td>
					</tr>
				  </tbody>	
					
				</table>
					

  				
					<table class="table table-hover">
  <thead>
    <tr>
      <% current_user.average_paper_types.each do |pair| %>
        <th><%= pair[0] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% current_user.average_paper_types.each do |pair| %>
        <td><%= pair[1] %></td>
      <% end %>
    </tr>
    <tr>
      <% current_user.average_paper_types.each do |pair| %>
        <td><%= pair[2] %></td>
      <% end %>
    </tr>
  </tbody>
</table>

					
					

					</div>	<!-- eftri r-ð endar -->
					<div class="row col-md-6">
						<div class="col-md-8">
		 					<%= line_chart [
  								{name: "Paper", data: current_user.papers.map{|t| [t.date, t.paper_weight] }, 'interpolateNulls':true},
  								{name: "EnvPaper", data: current_user.papers.map{|t| [t.date, t.env_paper_weight] }, 'interpolateNulls':true} ] %>
  				
						</div>
						
					</div>	
				
			<div class="col-md-8">
		 					<%= column_chart [
  								{name: "Paper", data: current_user.papers.map{|t| [t.paper_type, t.paper_weight] }, 'interpolateNulls':true},
  								{name: "EnvPaper", data: current_user.papers.map{|t| [t.paper_type, t.env_paper_weight ] }, 'interpolateNulls':true} ] %>
  				
						</div>
					
		</div>	