			<div class="container">
					<div class="row well push-uppl-well">
						<div class="col-md-8 col-md-ofset-2 push-uppl">
							Flokkur síðast uppfærður:
							<%= current_user.transports.map(&:updated_at).last%>
						</div>
					</div>
			<div class="row col-md-6"> <!-- efsta röð -->
			<div class="table-box">
				<table class="table table-hover">
				  <thead class="thead-default">
					<tr>
						<th>Texti</th>
						<th>Eining</th>
					</tr>
				  </thead>	
				  <tbody>
					<!-- Co2 losun v. bílferða -->
					<tr>
						<td>Heildar Co2 losun Vegna bílferða</td>
						<td><%= number_with_precision(@transport_co2_km.to_f,  precision: 2) %> kg/co2</td>
					</tr>
					<!-- Co2 losun f. hvert stöðugildi  v. bílferða-->
					<tr>
						<td>Heildar Co2 losun vegna bílferða m.v. hvert stöðugildi</td>
						<td><%=  number_with_precision(@transport_co2_km_staff_ratio.to_f,  precision: 2) %>kg/co2</td>
					</tr>
						<!-- Km fjöldi v. bílferða Staff_ratio  -->
					<tr>
						<td>Heildar Km fjöldi vegna bílferða fyrir hvert stöðugildi</td>
						<td><%=  number_with_precision( @transport_km_staff_ratio.to_f,  precision: 2) %>km</td>
					</tr>

						<!-- Km fjöldi bílferða   -->
					<tr>
						<td>Heildar Km fjöldi vegna bílferða </td>
						<td><%= number_with_precision( @transport_km.to_f,  precision: 2) %>km</td>
					</tr>	
				  </tbody>	
					
				</table>
			</div>	
			</div>	

			<div class="row col-md-6 "> <!-- efsta röð -->
			<div class="table-box">
				<table class="table table-hover">
				  <thead class="thead-default">
					<tr>
						<th>Texti</th>
						<th>Eining</th>
					</tr>
				  </thead>	
				  <tbody>
					<!-- Co2 losun v. Flugferða  -->
					<tr>
						<td>Heildar Co2 losun vegna flugferða</td>
						<td><%=  @transport_flight_co2 %> kg/co2</td>
					</tr>
						<!-- Co2 losun v. Flugferða staff ratio  -->
					<tr>
						<td>Heildar Co2 losun vegna flugferða f. hvern starfsmann </td>
						<td><%=  @transport_flight_co2_staff_ratio %>kg/co2</td>
					</tr>
						<!-- km vegna flugferða  -->
					<tr>
						<td>Heildar km vegna flugferða  </td>
						<td><%=  @transport_flight_km %>km</td>
					</tr>
						<!-- Fjöldi Km f. flugferðis f. hvern starfsmann -->
					<tr>
						<td>Heildar km vegna flugferða á vert stöðugildi </td>
						<td><%=  @transport_flight_km_staff_ratio %>km</td>
					</tr>
				 </tbody>	
					
				</table>
			</div>	
			</div>		
				<table class="table table-hover">
				  <thead class="thead-default">
					<tr>
						<th>Texti</th>
						<th>Eining</th>
					</tr>
				  </thead>	
				  <tbody>
						<!-- heildarlosun Co2 vegna ferðalaga -->
					<tr>
						<td>Heildar losun Co2 vegna ferða</td>
						<td><%=  @co2_due_to_transport %> cO2/kg</td>
					</tr>

						<!-- heildarlosun Co2 vegna ferðalaga -->
					<tr>
						<td>Fjöldi trjáa sem þarf tilað kolefnisjafna ferðir</td>
						<td><%=  @tree_count_rescue.to_i %> Tré</td>
					</tr>

				  </tbody>	
					
				</table>
			</div>
				

  				<div class="row col-md-6">
						<div class="col-md-8">
							<%= line_chart [
  								{name: "Bílferðir Co2 Losun", data: current_user.transports.map{|t| [t.created_at, (t.transport_km * (0.1404)).to_i] }, 'interpolateNulls':true}, {name: "Flugferðir Co2 Losun", data: current_user.transports.map{|t| [t.created_at, (t.transport_flight_km * (0.1722)).to_i] }, 'interpolateNulls':true} ] %>
  				
						</div>
				</div>	

		</div>			

					
						
	