<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well">
<p>
	<strong> Date:</strong>
	<%= @cleaning.date %>
</p>
<p>
	<strong> Paper Type:</strong>
	<%= @cleaning.cleaning_type %>
</p>

<p>
	<strong> Paper weight</strong>
	<%= @cleaning.cleaning_liter %>
</p>

<p>
	<strong> Paper Cost:</strong>
	<%= @cleaning.cleaning_cost %>
</p>



<%= link_to 'Back', cleanings_path %>
</div>
</div>
</div>