
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well">
<p>
	<strong> DAte:</strong>
	<%= @paper.date %>
</p>
<p>
	<strong> Paper Type:</strong>
	<%= @paper.paper_type %>
</p>

<p>
	<strong> Paper weight</strong>
	<%= @paper.paper_weight %>
</p>

<p>
	<strong> Paper Cost:</strong>
	<%= @paper.paper_cost %>
</p>

<p>
	<strong> Env Paper Type:</strong>
	<%= @paper.env_paper_weight %>
</p>
</div>
</div>
</div>