<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="well">
<p>
	<strong> Date:</strong>
	<%= @hwater.date %>
</p>
<p>
	<strong> Building Name:</strong>
	<%= @hwater.building_name %>
</p>

<p>
	<strong> Hot Water Cost</strong>
	<%= @hwater.hot_water_cost %>
</p>

<p>
	<strong> Hot Water m&#179;</strong>
	<%= @hwater.hot_water_cubic_meter %>
</p>



<%= link_to 'Back', hwaters_path %>
</div>
</div>
</div>