<% @posts.each do |post|%>
		<div class="well">
			<h2><%= link_to post.title, post %></h2>
				<small>Fjöldi svara: <%= post.comments.count %></small>
		
				<p><%= truncate post.content, length: 160  %> <%= link_to 'lesa meira', post %>  </p>
					<small><p>Published at <%= time_ago_in_words(post.created_at ) %> By <%= link_to post.user.name, post.user %></p></small>
			<h4>Tags</h4>
			<%= post.tag_list %>
		</div>	
	<% end %>

	<%= link_to 'Senda Spurningu', new_post_path %>
	</div>