<div class=" navbar navbar-fixed-top ">
		<div class="container">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "SprettaEMS", root_path, class: 'navbar-brand' %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Um Sprettu", '#sec1' %></li>
           
            <li><%= link_to "Notendur", '#sec2'  %></li>
            <li><%= link_to "Spurningatorg", posts_path  %></li>

            <% if current_user %>  

              <li><%= link_to "My Friends", my_friends_path %></li>
              <li><%= link_to "Útskrá", destroy_user_session_path, method: :delete  %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <% else %>
          
              <li class="pull-right"><%= link_to "Nýskrá", new_user_registration_path %></li>
              <li class="pull-right"><%= link_to "Innskrá", new_user_session_path %></li>
           
            <% end %> 
              
             
          </ul>
        </div>
      </div>
    </div>