<!DOCTYPE html>
<html>
<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <title>SprettaEMS15</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div class=" navbar navbar-default">
		<div class="container">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "SprettaEMS", root_path, class: 'navbar-brand' %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Grænt Bókhald", 'gb' %></li>
            <li><%= link_to "Notendur", "/path3"  %></li>
            <li><%= link_to "Link3", "/path3"  %></li>
            <% if current_user %>  
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %> 
              <li class="pull-right user-name"> <% if current_user && current_user %>
                User:
                <%= current_user.name %>
                Staff:
                <%= current_user.staff %>
                 <% end %>  
              </li>    
          </ul>
        </div>
      </div>
    </div>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<div class="container">
	<%= yield %>
</div>

<footer class="footer">
        <p>&copy; Spretta 2016</p>
      </footer>
</body>
</html>
